<!-- <div style="display: block">
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [type]="'bar'"
          >
  </canvas>
</div> -->


<!-- <ngx-charts-bar-vertical
  [view]="[700, 400]"
  [results]="dados"
  [xAxis]="true"
  [yAxis]="true"
  [legend]="true"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  xAxisLabel="Meses"
  yAxisLabel="Quantidade de Viagens"
></ngx-charts-bar-vertical> -->
