
.container {
    height: 100%;
}

.sidenav {
    width: 10rem;

    background-image: linear-gradient(to bottom, #000505, #161919, #252929, #353939, #464a4a);
}
.nav-list i{
  color: white;
}
.nav-list span{
  color: white;
}
img {
    width: 7rem;
    height: 7rem;
    margin-left: 2rem;

}

.menu{
    color: white;
}

