<div class="container">

  <mat-card class="card_descricao">
    <mat-card-header>
      <mat-card-title>Frota de Veículos UNESP</mat-card-title>
      <mat-card-subtitle>V.1.0</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Bem-vindo à Plataforma de Gerenciamento da Frota de Veículos da UNESP.
        Este sistema foi criado para atender à comunidade da Universidade,
        proporcionando um fluxo automatizado de solicitação e uso de veículos
        para atividades acadêmicas e administrativas.
      </p>
      <p>
        <b>O funcionamento ocorre da seguinte forma:</b> os membros da UNESP
        podem solicitar veículos através do sistema e um motorista que esteja
        disponível para a viagem é atribuindo. Assim, o processo de agendamento
        e realização das viagens ocorre de forma transparente e otimizada.
      </p>
      <p>
        Seja para projetos de pesquisa, reuniões ou eventos, nossa Plataforma de
        Gerenciamento da Frota de Veículos está à disposição para ajudar a
        atingir seus objetivos de forma prática e conveniente.
      </p>
    </mat-card-content>
  </mat-card>
</div>

<div class="estatisticas-container">
  <mat-card class="card_estatistica">
    <mat-card-header>
      <mat-card-title>Solicitações de Veículos</mat-card-title>
      <mat-card-subtitle>Visão do histórico geral</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="chart">
        <!-- Teste de chamada ao componente de gráficos go to line 41-->
        <app-viagens-estatisticas ></app-viagens-estatisticas>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card_estatistica" *ngIf="false">
    <mat-card-header>
      <mat-card-title>Solicitações de Veículos neste mês</mat-card-title>
      <mat-card-subtitle>Visão mensal</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>

      </p>
    </mat-card-content>
  </mat-card>
</div>
