.container {
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.estatisticas-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.card_descricao {
  margin-bottom: 1rem;
}

.card_estatistica {
  position: absolute;
  height: 25rem;
  width: 44%;
}

.chart{
  height: 100%;
  width: 100%;
  max-width: 300px;
  margin: auto;
}
