<div class="container">
  <form class="form">
    <div class="inlineComponente">
      <mat-form-field class="halfWidth_ajust">
        <input matInput [value]="fileName" readonly id="arquivo" />

        <!-- <input
          type="file"
          id="fileInput"
          (change)="selecionaArquivo($event)"
          name="fileInput"
          hidden
        /> -->

        <button type="button" md-button (click)="imgFileInput.click()">
          Add a photo
        </button>
        <input
          hidden
          type="file"
          #imgFileInput
          (change)="selecionaArquivo($event)"
        />
      </mat-form-field>

      <mat-card class="halfWidth" *ngIf="fileName != ''">
        <!-- <mat-card-header class="card-header">         -->
        <!-- <mat-card-title>{{tituloCard}}</mat-card-title> -->
        <!-- <mat-card-subtitle>Visualização prévia da Imagem</mat-card-subtitle> -->
        <!-- </mat-card-header> -->
        <img [src]="fileUrl" />
        <!-- <mat-card-content>
        <p><b>Nome do Arquivo:</b> {{ fileName }}</p>
        <p><b>Tamanho do Arquivo:</b> {{ tamanhoArquivo }}</p>
        <p><b>Tipo do Arquivo:</b> {{ extensaoArquivo }}</p>
      </mat-card-content> -->
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="upload()">
            Upload
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </form>
</div>
