.container {
  width: 90%;
  margin: auto;
  margin-top: 1rem;
}
.cadastrar_btn {
  background-color: #4290ef;
  margin-bottom: 0.5rem;
}
.delete {
  color: red;
}
.atribuirse {
  color: green;
}
.statusViagemConfirmada {
  background-color: green;
  color: white;
}
.statusViagemSolicitada {
  background-color: yellow;
  color: black;
}

